<div class="osp-dm-toolkit flexcol">
  <h3 class="dm-toolkit-header">DM's Toolkit</h3>

  <ul class="dm-tool-list">
    <li class="dm-tool-item flexrow">
      <div class="dm-tool-info">
        <span class="dm-tool-name">Rest</span>
        <span class="dm-tool-desc">Restore all spell slots for player characters.</span>
      </div>
      <span role="button" class="osp-dm-rest-btn" data-action="rest" title="Rest the party">
        <i class="fas fa-bed"></i>
      </span>
    </li>
  </ul>
</div>
