<div class="osp-dm-toolkit flexcol">
  <h3 class="dm-toolkit-header">Player's Toolkit</h3>

  <ul class="dm-tool-list">
    <li class="dm-tool-item flexrow">
      <div class="dm-tool-info">
        <span class="dm-tool-name">Westford Bank</span>
        <span class="dm-tool-desc">Deposit and withdraw coin and treasure with the party's shared ledger.</span>
      </div>
      <span role="button" class="osp-dm-rest-btn" data-action="openBank" title="Open Westford Bank">
        <i class="fas fa-landmark"></i>
      </span>
    </li>
  </ul>
</div>
