<form class="osp sheet actor monster" autocomplete="off">
  <header class="sheet-header">
    <h1>Monster Sheet</h1>
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <label for="osp-system-hitdice">Hit Dice:</label>
      <input type="text" id="osp-system-hitdice" name="system.hitdice" value="{{system.hitdice}}" />
    </div>
    <div class="form-group">
      <label for="osp-system-thaco">THAC0:</label>
      <input type="number" id="osp-system-thaco" name="system.thaco" value="{{system.thaco}}" />
    </div>
    <div class="form-group">
      <label for="osp-system-special">Special:</label>
      <input type="text" id="osp-system-special" name="system.special" value="{{system.special}}" />
    </div>
  </section>
</form>