<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img is-pos-container-image" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-col">
      <h1 class="charname is-pos-container-name">
        {{#if @root.isGM}}
          <input type="text" name="name" value="{{name}}" />
        {{else}}
          <span>{{name}}</span>
        {{/if}}
      </h1>
      <div class="details">
        <div class="form-group">
          <input type="number" class="is-pos-cost" name="system.cost" value="{{system.cost}}" min="0" {{#unless @root.isGM}}readonly disabled{{/unless}} />
        </div>
        <div class="form-group">
          <input type="number" class="is-pos-weight" name="system.weight" value="{{system.weight}}" min="0" step="0.1" {{#unless @root.isGM}}readonly disabled{{/unless}} />
        </div>
        <div class="form-group">
          <input type="text" class="is-pos-size" name="system.sizeCat" value="{{system.sizeCat}}" maxlength="3" {{#unless @root.isGM}}readonly disabled{{/unless}} />
        </div>
      </div>
    </div>
  </header>

  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats">
      <div class="form-group">
        <input type="text" class="is-pos-capacity" name="system.capacity" value="{{system.capacity}}" placeholder="6M" {{#unless @root.isGM}}readonly disabled{{/unless}} />
      </div>        <div class="form-group">
          <input type="number" class="is-pos-quantity" name="system.quantity.value" value="{{system.quantity.value}}" min="0" />
        </div>

        <div class="form-group is-pos-equipped-checkbox">
          <label>
            <input type="checkbox" name="system.equipped" {{checked system.equipped}} />
          </label>
        </div>

        <div class="form-group">
          <select class="is-pos-carry-location" name="system.carryLocation">
            <option value="">-- Select --</option>
            <option value="hand-primary" {{#if (eq system.carryLocation "hand-primary")}}selected{{/if}}>Hand (Primary)</option>
            <option value="hand-secondary" {{#if (eq system.carryLocation "hand-secondary")}}selected{{/if}}>Hand (Secondary)</option>
            <option value="slung" {{#if (eq system.carryLocation "slung")}}selected{{/if}}>Slung</option>
            <option value="lashed-top" {{#if (eq system.carryLocation "lashed-top")}}selected{{/if}}>Lashed (Top)</option>
            <option value="lashed-bottom" {{#if (eq system.carryLocation "lashed-bottom")}}selected{{/if}}>Lashed (Bottom)</option>
            <option value="lashed-side-1" {{#if (eq system.carryLocation "lashed-side-1")}}selected{{/if}}>Lashed (Side 1)</option>
            <option value="lashed-side-2" {{#if (eq system.carryLocation "lashed-side-2")}}selected{{/if}}>Lashed (Side 2)</option>
            <option value="stored" {{#if (eq system.carryLocation "stored")}}selected{{/if}}>Stored in Container</option>
          </select>
        </div>
      </div>

      <div class="description">
        <textarea class="is-pos-description" name="system.description" {{#unless @root.isGM}}readonly disabled{{/unless}}>{{system.description}}</textarea>
      </div>
    </div>
  </section>
</form>
